.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;

  border-bottom: 1px solid rgba(229, 231, 235, 1);
}

.headerSearch {
  display: flex;
  align-items: center;
}

.input {
  border-radius: 9999px;
  padding: 0 24px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(75, 85, 99, 1);
}

.user {
  display: flex;
  align-items: center;
  width: 70px;
  justify-content: space-between;
}

.hamburg {
  display: none;
}

.cricle {
  display: none;
}

/* responsive */

@media only screen and (max-width: 380px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 380px;
    padding: 25px 16px;
  }
  .logo {
    display: none;
  }

  .search img {
    margin-right: 10px;
    width: 14px;
    height: 14px;
  }

  .headerSearch {
    margin-left: 45px;
    width: 180px;
  }

  .headerSearch input {
    padding: 5px;
  }

  .hamburg {
    display: inline-block;
    cursor: pointer;
  }

  .user img {
    display: none;
  }

  .cricle {
    width: 28px;
    height: 28px;
    display: inline-block;
  }


  
}
