.footer {
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(229, 231, 235, 1);
}

span {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  gap: 5px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(75, 85, 99, 1);
}

h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(17, 24, 39, 1);
  margin-bottom: 5px;
}

@media only screen and (max-width: 380px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 24px 30px;
  }

  span {
  }
}
